<section class="produtos">
    <!-- espaço para os componentes de produtos -->
    <div class="area-titulo">
      <h2>Produtos</h2>
      <h3>Aqui estão os nossos produtos</h3>
    </div>
    <div class="produtos-area">
      <app-componente-produto [foto_link]="produto1.imagem" [nome]="produto1.titulo" [descricao]="produto1.descricao" [preco]="produto1.preco"></app-componente-produto>
      <app-componente-produto [foto_link]="produto2.imagem" [nome]="produto2.titulo" [descricao]="produto2.descricao" [preco]="produto2.preco"></app-componente-produto>
    </div>
</section>  
