<header>
  <div class="content">
    <hgroup>
        <h1>Web Clothes</h1>
        <p>Roupas para sua estética, feitas para você</p>
    </hgroup>
    <div class="overlay"></div>
  </div>
</header>
<section class="site-content">
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
    <a routerLink="/desejos" routerLinkActive="active">Entrega</a>
    <a routerLink="/contato" routerLinkActive="active">Contato</a>
  </nav>
  <router-outlet></router-outlet>
</section>
